# dependencies
/node_modules

# next.js build output
/.next/
/out/

# database
/db/*.db
/db/*.db-journal

# misc
.DS_Store
*.pem
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# playwrite
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# uploads (working files)
/upload/
